extends layout

block content
    //h1 An application requests access to your data!
    -var divclass = ['text-center', 'row', 'h-100']
    div(class=divclass)
        -var formclass = ['form-signin', 'my-auto']
        form(class=formclass action=action, method="POST")
            input(type="hidden", name="challenge", value=challenge)
            input(type="hidden", name="_csrf", value=csrfToken)

            img(src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Amazon_Alexa_logo.svg", class="responsive")
            br
            p(class="p")
                | Hi <strong>#{user}</strong> ! 
                br
                | Application <strong>#{client.client_name || client.client_id}</strong> wants access to below resources :

            each scope in requested_scope
                //input(type="checkbox", class="grant_scope", id=scope, value=scope, name="grant_scope")
                //label(for=scope) #{scope}
                //br
                - var divClasses=['checkbox', 'mb-3'];
                div(class=divClasses)
                    label
                        input(type="checkbox", class='grant_scope', id=scope, name="grant_scope", value=scope)
                        span(for=scope)  #{scope}

            
            //input(type="submit", id="accept", name="submit", value="Allow access")
            //input(type="submit", id="reject", name="submit", value="Deny access")

            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass, type="submit", id="accept", name="submit") Allow access
            - var buttonClass2=['btn', 'btn-lg', 'btn-danger', 'btn-block'];
            button(class=buttonClass2, type="submit", id="reject") Deny
