extends layout

block content
    -var divclass = ['text-center', 'row', 'h-100']
    div(class=divclass)
        -var formclass = ['form-signin', 'my-auto']
        form(class=formclass, action=action, method="POST")
            #error
                if error
                    p.text-danger Error!!!

            img(src="stylesheets/mybank_logo.png", class="responsive")

            - var h1Classes = ['h3', 'mb-3', 'font-weight-normal', 'p']
            h1(id="login-title", class=h1Classes) Sign in with MyBank

            input(type="hidden", name="_csrf", value=csrfToken)
            input(type="hidden", name="challenge", value=challenge)

            //-input email
            label(for="inputEmail" class="sr-only") Email address
            input(type="email", id="email", name="email", value=hint, placeholder="Email address" class="form-control")

            //-input password
            label(for="inputPassword" class="sr-only") Password
            input(type="password", id="password", name="password" class="form-control" placeholder="Password" required)

            //-remember Checkbox
            - var divClasses=['checkbox', 'mb-3'];
            div(class=divClasses)
                label
                    input(type="checkbox", id="remember", name="remember", value="1")
                    span  Remember me

            //-signIn button
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass, type="submit", id="accept", name="submit") Sign in
            - var buttonClass2=['btn', 'btn-lg', 'btn-outline-primary', 'btn-block'];
            button(class=buttonClass2, id="deny", name="deny") Cancel
                    